In [1]:
import os
from pathlib import Path
import bottleneck as bn
import numpy as  np
import pandas as pd
import scipy.stats as st
from scipy.signal import medfilt, butter, filtfilt
from scipy.stats import linregress

import matplotlib.pyplot as plt

plt.rcParams['legend.fontsize'] = 12
plt.rcParams['font.size'] = 14
plt.rcParams['axes.titlesize'] = 14
plt.rcParams['axes.xmargin'] = 0
plt.rcParams['figure.dpi'] = 150

#### First place the contents of Douglass_Resch_Madara_etal_2023_Data inside the folder with the same name

In [2]:
# Set up your base directory
base_dir = Path('./Douglass_Resch_Madara_etal_2023_Data/Photometry')

## Figure 1h

#### Load data

In [3]:
data_path = Path(f'{base_dir}/Figure1h.csv')

data = pd.read_csv(data_path, header=[1,2,3,4], index_col=0).reset_index(drop=True)
data = data.melt(var_name=['Mouse','Run','Experiment','Channel'], value_name='Signal')
data = data.astype({'Signal':'float'})

In [4]:
# Set sampling rate
sampling = 20 # Hz

In [5]:
data

           Mouse    Run Experiment Channel    Signal
0        Mouse 1  Run 1    Vehicle   465nm  1.489554
1        Mouse 1  Run 1    Vehicle   465nm  1.499878
2        Mouse 1  Run 1    Vehicle   465nm  1.513543
3        Mouse 1  Run 1    Vehicle   465nm  1.491679
4        Mouse 1  Run 1    Vehicle   465nm  1.515567
...          ...    ...        ...     ...       ...
1344027  Mouse 4  Run 2        CNO   405nm  0.794476
1344028  Mouse 4  Run 2        CNO   405nm  0.788403
1344029  Mouse 4  Run 2        CNO   405nm  0.791844
1344030  Mouse 4  Run 2        CNO   405nm  0.785771
1344031  Mouse 4  Run 2        CNO   405nm  0.792451

[1344032 rows x 5 columns]